*{
    margin: 0;
    padding: 0;

}
body{
    color: rgb(20, 18, 18);
    background-color: rgb(243, 225, 203);
   

}
#contenedor{
   

    background-color: cornsilk;
    width: 70%;
    height: 50%;


}









#menu{
    height: 80%;
    background-color: rgb(192, 195, 181);
    margin: 10em;
    border-radius: 50px;
   }
   /*selector de etiqueta*/

li{
   display: inline;
   padding: 10px 30px;
   margin: 4em;
}
li a:hover{
   color: rgb(116, 30, 11);
   text-decoration: none;
   list-style: none;
   font-size: 22px;
}