body
{
   background-color: rgb(237, 246, 226);
}

.card{
   box-shadow: 0px 4px 8px  rgba(0, 0, 0, 0.2);
   overflow: hidden;
   max-width: 350px;
   margin:auto ;
   text-align: center;
   border: 1px solid;
   border-radius: 15px ;
   background-color: rgb(249, 249, 205);
}


#pie


{
   height: 30px;
    background-color: #b8c2a7;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;



}